.terminal {
  padding: var(--space-normal) !important;
  display: flex;
  flex-direction: column;
}

.prompt {
  display: grid;
  grid-template-columns: min-content auto;
  grid-template-rows: 1fr;
  grid-template-areas:
    ". .";
}

.user {
  white-space: pre !important;
}

.input {
  font-family: "SF Pro Mono", 'Hack Nerd Font Mono', 'IBM Plex Mono', 'Fira Code', 'Courier New', Courier, monospace;
  font-size: 16px;
  font-weight: 400;
  color: var(--color-accent);
  background-color: transparent;
  width: 100%;
}

.text {
  color: var(--color-accent);
}
