* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	display: block;
}

html {
	font-size: 20px;
	font-family: "Neue Haas Grotesk Text", "SF Pro Text", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 400;
	line-height: 1.25;
	text-rendering: optimizeLegibility;
}

@media (prefers-color-scheme: light) {
	:root {
		--color-primary: rgba(0, 0, 0, 0.9);
		--color-background: rgba(0, 0, 0, 0.1);
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-primary: rgba(255, 255, 255, 0.9);
		--color-background: rgba(0, 0, 0, 0.9);
	}
}

@media only screen and (max-width: 650px) {
	html {
		font-size: 18px;
	}
}

head {
	display: none;
}

body {
	display: flex;
	flex-direction: column;
	padding: 3rem 3rem 8rem 3rem;
	max-width: 750px;
	margin: 0 auto;
	background-color: var(--color-background);
	color: var(--color-primary);
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Neue Haas Grotesk Display", "SF Pro Display", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 800;
	line-height: 1.1;
}

a {
	color: black;
	text-decoration: none;
	color: var(--color-primary);
}

