.dashboard {
	display: flex;
	flex-direction: column;
	gap: var(--space);
	height: 100%;
}

.grid {
	flex: 1;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	gap: var(--space);
	min-height: 0;
}

.years {
	display: flex;
	justify-content: space-between;
	border-top: var(--border);
	padding-top: var(--space);
}
