.display {
  font-family: "SF Pro Display", "SF Display", ui-sans-serif, -apple-system,
    "BlinkMacSystemFont", "Helvetica Neue","Segoe UI", Roboto, Arial,
    sans-serif;
  font-size: var(--text-display);
  font-weight: 800;
  padding-bottom: var(--space-big);
  margin-top: calc(-1 * (var(--text-display) / 5));
  white-space: pre-wrap;
  max-width: 1300px;
}
