* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
	display: block;
}

*::selection {
  background: var(--color-accent);
  color: white;
}

:root {
  --space: 20px;
  --border: 1px solid var(--color-foreground);
  --width: 440px;

  --color-background: #E9E9E9;
  --color-foreground: #000000;
  --color-accent: #2E45B8;

  --transition-duration: 0.25s;
  --transition-function: ease-in-out;
}

@media (max-width: 1400px) {
	:root {
		--space: 15px;
	}
}

html {
  background-color: var(--color-foreground);
  color: var(--color-foreground);
  font-family: "SF Pro Mono", 'SF Mono', SFMono-Regular, ui-monospace, 'DejaVu Sans Mono', Menlo, Consolas, 'Hack Nerd Font Mono', 'IBM Plex Mono', 'Fira Code', monospace;;
  font-size: 16px;
  font-weight: 400;
  white-space: pre-wrap;
	overflow: hidden;
}

a {
	color: var(--color-foreground);
}

p + h2 {
	padding-top: 0.3rem;
}
